<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>
<%= paginate @movies %>
<%= form_tag movies_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :title, params[:title], placeholder: 'Title' %><br/>
    <%= text_field_tag :director, params[:director], placeholder: 'Director' %><br/>
    <%= select_tag :duration, options_for_select([[],['Under 90 minutes'],['Between 90 and 120 min'],['Over 120 min']]) %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<% @movies.each do |movie| %>
  <%= link_to image_tag(movie.poster_image_url), movie_path(movie) %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <%= image_tag movie.image_url(:thumb) if movie.image? %>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p><br/>
  <p>Review:<%= movie.review_average %>/10</p>
  <hr>

<% end %>
