<div class="navbar navbar-inverse navbar-static-top">
  <div class="container"> 
    <a class="navbar-brand">Rotten Mangoes</a>
      <button class="navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Submit a movie!", new_movie_path, class: "a" %></li> 
        <%= form_tag movies_path, class: "navbar-form navbar-left", :method => 'get' do %>
            <div><%= text_field_tag :query, params[:query], placeholder: 'Movie title or director' %></div>
            <%= select_tag :duration, options_for_select([['Filter by duration'],['Under 90 minutes'],['Between 90 and 120 min'],['Over 120 min']]) %>
            <%= submit_tag "Search", class: "btn btn-primary", name: nil %>
        <% end %>   
      </ul>
    </div>
  </div>
</div>